*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(Assests/images/img1.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: none;
    background-size: max(1200px, 100vw)
}
body{
    background-color: black;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.68;
    background-color: black;
    position: absolute;
    top: 0;
}
nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    /* padding-top: 17px;   */
}
nav img{
    color: red;
    width: 120px;
    position: relative;
    z-index: 15;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: sans-serif;
    gap: 20px;
    text-align: center;
} 
/* > means immediate n child */
.hero> :first-child{  
    font-weight: 900;
    font-size: 50px;
}
.hero> :nth-child(2){
    font-size: 25px;
    font-weight: 100;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 100;
}
.seperation{
    background-color: grey;
    opacity: 0.4;
    height: 5px;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}
.btn-red-gs{
    background-color: red;
    color: white;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 9px;
    border: none;
}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.main input{
    padding:17px 48px 8px 20px;
    font-size: 10px;
    border-radius: 9px;
    background-color: rgba(23, 23, 23, 0.7);
    justify-content: center;
    border: 1px  rgba(rgb(250, 233, 233), rgb(204, 221, 204), rgb(231, 231, 236), 0.6);
    color: rgb(255, 255, 255);

}
.btn-eng{
    background-color: #9d999970;
    opacity: 0.5;
    padding: 4px 13px 4px 15px;
    border: 0.5px solid white;
    color: white;
}
.first{
    display: flex;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.sec-img1{
    position: relative;
}
.sec-img1 img{
    width: 30vw;
    position: relative;
    z-index: 10;
    padding-top: 6px;
}
.sec-img1 video{
    width: 26vw;
    position: absolute;
    top: 51px;
    right: 0;

}
.first div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first> div :first-child{
    font-size: 48px;
    font-weight: bolder;  
}
.first> div :nth-child(2){
    font-size: 24px;
}




    